h1 {
  font-family: Arial;
}

h4 {
  margin-bottom: 0;
  font-size: 20px;
  color: maroon;
}

ul,
ol {
  margin-top: 0;
}

.copyright {
  font-family: Arial;
  font-size: 9px;
  font-style: italic;
}

#ingredients {
  color: blue;
}

#equipment {
  color: green;
}

#directions {
  color: black;
}

.notice {
  font-weight: bold;
}

.measure {
  font-style: italic;
}